package {{.PackageName}}

import (
	{{- range .Imports }}
	"{{ . }}"
	{{- end }}
	"{{ .Module }}/pkg/core"
	"github.com/uptrace/bun"
)

{{- $fields := .Fields }}
{{- range .Models }}
type {{.ModelName}} struct {
    bun.BaseModel `bun:"table:{{.TableName}},alias:{{- $name := .TableName }}
    {{- range $index, $word := split $name "_" }}
        {{- printf "%.1s" $word }}{{- if ne $index (sub (len (split $name "_")) 1) }}_{{- end }}
    {{- end }}" json:"-" swaggerignore:"true"`
{{- range $field := $fields }}
	{{ $field.Name }} {{ $field.Type }} `json:"{{ $field.JSONName }}"`
{{- end }}
}

// TableName sets the insert table name for this struct type
func (u *Example) TableName() string {
	return "{{.TableName}}"
}

type {{.ModelName}}Data struct {
	*{{.ModelName}}
}

type {{.ModelName}}Paged struct {
	*core.Paging
}

type Lite{{.ModelName}} struct {
{{- range $field := $fields }}
	{{ $field.Name }} {{ $field.Type }} `json:"{{ $field.JSONName }}"`
{{- end }}
}

type Create{{.ModelName}} struct {
{{- range $field := $fields }}
	{{ $field.Name }} {{ $field.Type }} `json:"{{ $field.JSONName }}"`
{{- end }}
}

type Update{{.ModelName}} struct {
{{- range $field := $fields }}
	{{ $field.Name }} {{ $field.Type }} `json:"{{ $field.JSONName }}"`
{{- end }}
}
{{- end }}

type Delete{{.ModelName}}Request struct {
	Id {{.Pk}} {{.JsonId}}
}

type Delete{{.ModelName}}Data struct {
}

type List{{.ModelName}}Request struct {
	UserRequestInfo *core.UserRequestInfo `json:"-"`

	*List{{.ModelName}}Criteria
}

type LiteList{{.ModelName}}Request struct {
	UserRequestInfo *core.UserRequestInfo `json:"-"`

	*LiteList{{.ModelName}}Criteria
}

type One{{.ModelName}}Request struct {
	UserRequestInfo *core.UserRequestInfo `json:"-"`

	*One{{.ModelName}}Criteria
}

type List{{.ModelName}}Criteria struct {
	core.Params
}

type LiteList{{.ModelName}}Criteria struct {
	core.Sorting
}

type One{{.ModelName}}Criteria struct {
    Id {{.Pk}}
}