package {{.PackageName}}

import (
	"github.com/gofiber/fiber/v2"
	"{{.Module}}/internal/middleware"
	"{{.Module}}/pkg/core"
)

type Router interface {
	core.Router
}

type router struct {
	Handle    Handler
	OnRequest middleware.OnRequest
}

func (r *router) Initial(app *fiber.App) {
	v1 := app.Group("/v1")
	{
        v1.Post("/{{.RouteName}}/one", r.OnRequest.Handler(PermissionFindOne, middleware.AuditLogRequired(), middleware.PermissionRequired()), r.Handle.FindOne)
        v1.Post("/{{.RouteName}}/many", r.OnRequest.Handler(PermissionList, middleware.AuditLogRequired(), middleware.PermissionRequired()), r.Handle.FindList)
        v1.Post("/{{.RouteName}}/many/lite", r.OnRequest.Handler(PermissionList, middleware.AuditLogRequired(), middleware.PermissionRequired()), r.Handle.FindLiteList)
        v1.Post("/{{.RouteName}}/create", r.OnRequest.Handler(PermissionCreate, middleware.AuditLogRequired(), middleware.PermissionRequired()), r.Handle.Create)
        v1.Post("/{{.RouteName}}/update", r.OnRequest.Handler(PermissionUpdate, middleware.AuditLogRequired(), middleware.PermissionRequired()), r.Handle.Update)
        v1.Post("/{{.RouteName}}/delete", r.OnRequest.Handler(PermissionDelete, middleware.AuditLogRequired(), middleware.PermissionRequired()), r.Handle.Delete)
	}
}

func NewRouter(handle Handler, onRequest middleware.OnRequest) Router {
	return &router{
		Handle:    handle,
		OnRequest: onRequest,
	}
}