package {{.PackageName}}

const (
	PermissionCreate   = "{{.KebabName}}:create"
	PermissionUpdate   = "{{.KebabName}}:update"
	PermissionDelete   = "{{.KebabName}}:delete"
	PermissionFindList = "{{.KebabName}}:find-list"
	PermissionFindOne  = "{{.KebabName}}:find-one"
)
