# build stage
FROM golang:alpine AS builder

ENV GO111MODULE=on

# install git.
RUN apk update && apk add --no-cache git

RUN mkdir -p /go/src/{{.Module}}
WORKDIR /go/src/{{.Module}}
COPY . .

# Download all dependencies
RUN go mod download

# With go ≥ 1.10
RUN CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -a -installsuffix cgo -ldflags="-w -s" -o /go/bin/{{.ProjectName}} cmd/api/main.go

# small image
FROM alpine:3.7

WORKDIR /app
COPY --from=builder /go/src/{{.Module}}/configuration/production.yml /app/configuration/production.yml
COPY --from=builder /go/src/{{.Module}}/policy /app/policy
COPY --from=builder /go/bin/{{.ProjectName}} .

ENV TZ=Asia/Bangkok
RUN echo "Asia/Bangkok" > /etc/timezone

# run binary.
ENTRYPOINT ["/app/{{.ProjectName}}", "-env", "production"]