package example

import (
	"context"
	"github.com/dreamph/dbre"
)

type UseCase interface {
	Echo(ctx context.Context, obj *EchoExampleRequest) (*Example, error)
}

type useCase struct {
	Repo Repository
	Tx   dbre.DBTx
}

func (uc *useCase) Echo(ctx context.Context, obj *EchoExampleRequest) (*Example, error) {
	return &Example{}, nil
}

func NewUseCase(repo Repository, tx dbre.DBTx) UseCase {
	return &useCase{
		Repo: repo,
		Tx:   tx,
	}
}
