package example

import (
	"github.com/gofiber/fiber/v2"
	"{{.Module}}/internal/middleware"
	"{{.Module}}/pkg/core"
)

type Router interface {
	core.Router
}

type router struct {
	Handle    Handler
	OnRequest middleware.OnRequest
}

func (r *router) Initial(app *fiber.App) {
	v1 := app.Group("/v1")
	{
        v1.Post("/example/echo", r.OnRequest.Handler(PermissionEcho, middleware.AuditLogRequired(), middleware.PermissionRequired()), r.Handle.Echo)
	}
}

func NewRouter(handle Handler, onRequest middleware.OnRequest) Router {
	return &router{
		Handle:    handle,
		OnRequest: onRequest,
	}
}