package example

import (
    "{{.Module}}/pkg/core"
)

type Example struct {
    bun.BaseModel `bun:"table:example,alias:e" json:"-" swaggerignore:"true"`
	Id string `bun:"id,pk" json:"id"`
}

// TableName sets the insert table name for this struct type
func (u *Example) TableName() string {
	return "example"
}

type EchoExampleRequest struct {
    UserRequestInfo *core.UserRequestInfo `json:"-"`
}
