package {{.PackageName}}

import "{{.Module}}/{{.Path}}/database"

type DataSource interface {
}

type dataSource struct {
	db dbre.DB[{{.ModelName}}]
}

func NewDataSource(idb dbre.AppIDB) DataSource {
	return &dataSource{
		db: bun.New[{{.ModelName}}](idb),
	}
}