//go:build wireinject
// +build wireinject

package {{.PackageName}}

import (
	"github.com/google/wire"
	"{{.Module}}/internal/app"
	"{{.Module}}/internal/api"
	"{{.Module}}/internal/database"
	"{{.Module}}/internal/pkg/response"
	"{{.Module}}/internal/pkg/validator"
	"{{.Module}}/internal/pkg/middleware"
	"{{.Module}}/pkg/requestx"
	//+fibergen:import wire:package
)

func CreateApp(dbDriver database.Drivers) app.App {
	wire.Build(
		app.NewApp,
		api.New,
		api.NewRouters,
		response.New,
		validator.New,
		requestx.NewApiHandler,
		middleware.NewOnRequestPermission,
		//+fibergen:func wire:build
	)
	return nil
}